body {
  background: linear-gradient(to bottom, #000000, #000000, #DA8A67);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 5%;
  ;
}

html {
  scroll-behavior: smooth;
}

.navbartop {
  padding: 10px 10%;
  display: flex;
  justify-content: center;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  position: relative;

}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #DA8A67;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.start {
  margin-top: 1%;
  font-size: 30px;
}

.start h1 {
  font-size: 50px;
}

.start h1 span {
  color: #DA8A67;
}

/*--------------About----------------*/
#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 75%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 0px;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #DA8A67;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #d2a693;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*--------------Porfolio----------------*/
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin: 50px 0px;
  align-items: baseline;

}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}


.layer {
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #DA8A67);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  transition: height 0.5s;
}

.layer h4 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 10 px;
  color: #fff;
  font-size: 18px;
  line-height: 57%;
  margin-bottom: 2%;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

/*--------------others----------------*/


#others {
  padding: 50px 0;
}

.tab-titles-others {
  display: flex;
  margin: 20px 0 40px;

}

.voluntary-list {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.voluntary {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.voluntary-list img {
  width: 40%;
  border-radius: 10px;
  display: inline-block;
}

.voluntary-list a {
  width: 40%;
  border-radius: 10px;
  display: inline-block;
}


.myHobbies {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.myHobbies img {
  width: 100%;
  border-radius: 10px;
  display: inline-block;
  transition: transform 0.5s;
}

.stackphoto {
  display: flex;
  flex-direction: column;
}

.hobbie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hobbie-list img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  margin: 10px;
}

.cenbutton {
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


}

.button {
  background: linear-gradient(to top, #00000078, #DA8A67);
  border: 0px;
  border-radius: 10px;
  color: DA8A67;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.link {
  width: 40px;
  height: 40px;
}